#
#__BONES
#__by__CHUCK_LARDO
#__licence__CC-BY-SA 4.0
#__version__1.1
#__2024
#__target resolution 320x240
#__tested on iPod Classic (6th Gen) and HiFi Walker H2
#
#
#__CFG File
#
#
wps: BONES.wps
sbs: BONES.sbs
fms: -
#
foreground color: 080c10
background color: bddfc5
ui viewport: -
statusbar: off
scrollbar: off
show icons: off
selector type: bar (inverse)
backdrop: -
#
#
