# Theme Name: naranjada
# By: Simon Rothen (rothen@gmx.net)
# Platform: iBasso DX50, Cowon D2 (320x240x16)
# Version 3.1
# License: CC-BY-SA 3.0
# Theme derived from: "rayboradio_OB" CC-BY-SA 3.0, a theme by Humberto Santana (humbertosantana@hotmail.com)
# Initial graphics by "Immolate", http://forums.rockbox.org/index.php?topic=12478.msg97821#msg97821
# naranjada iconset derived from the Tango Small Iconset
#
# This theme looks very similar the original rayboradio_OB. The main difference to it are some optimizations for touchscreen targets, 
# especially for the not yet official port to the iBasso DX50 with its very senitive touchscreen. All credits go to the creators
# Humberto and Immolate.
#
# Last Update: May 22th, 2014
# First Release: May 22th, 2014
#
# CFG File
#
wps: naranjada.wps
sbs: naranjada.sbs
fms: naranjada.fms
backdrop: /.rockbox/backdrops/naranjada.bmp
font: /.rockbox/fonts/16-Roboto-Bold.fnt
foreground color: B6B5B6
background color: 2D2F2D
statusbar: custom
line selector start color: db7e30
line selector end color: 5A3010
selector type: bar (gradient)
line selector text color: e7e7e7
iconset: /.rockbox/icons/naranjada.bmp
viewers iconset: /.rockbox/icons/naranjada_viewers.bmp
show icons: on
#touchscreen mode: point
list padding: 4
#list separator height: off
ui viewport: 93,38,222,140,-,-,-
